<ion-content [fullscreen]="true">


    <ion-grid fixed>
        <ion-row>
            <ion-col style="padding: 0 !important;">
                <h3 style="margin: 0 !important; padding: 0 !important;">Peliculas recientes..</h3>
            </ion-col>
        </ion-row>
    </ion-grid>


    <app-slideshow-backdrop [peliculas]="pelicualesRecientes"></app-slideshow-backdrop>

    <ion-grid fixed>
        <ion-row>
            <ion-col style="padding: 0 !important;">
                <h3 style="margin: 0 !important; padding: 0 !important;">Cartelera</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-slideshowposter [peliculas]="pelicualesRecientes"></app-slideshowposter>

    <ion-grid fixed>
        <ion-row>
            <ion-col style="padding: 0 !important;">
                <h3 style="margin: 0 !important; padding: 0 !important;">Peliculas populares..</h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-slideshowpares [peliculas]="populares" (cargarMas)="cargarMas()"></app-slideshowpares>


</ion-content>